<div class="span6">
    <!-- BEGIN PORTLET-->
    <div class="portlet">
        <div class="portlet-title line">
            <div class="caption"><i class="icon-comments"></i>Chats</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a href="#portlet-config" data-toggle="modal" class="config"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body" id="chats">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 343px;">
                <div class="scroller" data-height="343px" data-always-visible="1" data-rail-visible1="1" style="overflow: hidden; width: auto; height: 343px;">
                    <ul class="chats">
                        <li class="in">
                            <img class="avatar" alt="" src="assets/img/avatar1.jpg">
                            <div class="message">
                                <span class="arrow"></span>
                                <a href="#" class="name">Bob Nilson</a>
                                <span class="datetime">at Jul 25, 2012 11:09</span>
                                <span class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </span>
                            </div>
                        </li>
                        <li class="out">
                            <img class="avatar" alt="" src="assets/img/avatar2.jpg">
                            <div class="message">
                                <span class="arrow"></span>
                                <a href="#" class="name">Lisa Wong</a>
                                <span class="datetime">at Jul 25, 2012 11:09</span>
                                <span class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </span>
                            </div>
                        </li>
                        <li class="in">
                            <img class="avatar" alt="" src="assets/img/avatar1.jpg">
                            <div class="message">
                                <span class="arrow"></span>
                                <a href="#" class="name">Bob Nilson</a>
                                <span class="datetime">at Jul 25, 2012 11:09</span>
                                <span class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </span>
                            </div>
                        </li>
                        <li class="out">
                            <img class="avatar" alt="" src="assets/img/avatar3.jpg">
                            <div class="message">
                                <span class="arrow"></span>
                                <a href="#" class="name">Richard Doe</a>
                                <span class="datetime">at Jul 25, 2012 11:09</span>
                                <span class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </span>
                            </div>
                        </li>
                        <li class="in">
                            <img class="avatar" alt="" src="assets/img/avatar3.jpg">
                            <div class="message">
                                <span class="arrow"></span>
                                <a href="#" class="name">Richard Doe</a>
                                <span class="datetime">at Jul 25, 2012 11:09</span>
                                <span class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </span>
                            </div>
                        </li>
                        <li class="out">
                            <img class="avatar" alt="" src="assets/img/avatar1.jpg">
                            <div class="message">
                                <span class="arrow"></span>
                                <a href="#" class="name">Bob Nilson</a>
                                <span class="datetime">at Jul 25, 2012 11:09</span>
                                <span class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </span>
                            </div>
                        </li>
                        <li class="in">
                            <img class="avatar" alt="" src="assets/img/avatar3.jpg">
                            <div class="message">
                                <span class="arrow"></span>
                                <a href="#" class="name">Richard Doe</a>
                                <span class="datetime">at Jul 25, 2012 11:09</span>
                                <span class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                                       sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="slimScrollBar ui-draggable" style="background-color: rgb(161, 178, 189); width: 7px; position: absolute; top: 157px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 186.15348101265823px; background-position: initial initial; background-repeat: initial initial;"></div>
                <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div>
            </div>
            <div class="chat-form">
                <div class="input-cont">
                    <input class="m-wrap" type="text" placeholder="Type a message here...">
                </div>
                <div class="btn-cont">
                    <span class="arrow"></span>
                    <a href="javascript:;" class="btn blue icn-only"><i class="icon-ok icon-white"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- END PORTLET-->
</div>
